nav {
    background-color: #595959; 
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    
}

.kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
.tauri-regular {
    font-family: "Tauri", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

 nav img { height: 100px ;

float:left; }

main-menu {
    display: flex;
    gap: 50px;
}

#main-menu li {
    list-style: none;
}
#home-image {
         width: 1000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

body {text-align: center;
font-family:"Tauri" ;}

p {text-align: center;
display: padding 20px;}
h1{text-align: center;
font-family: "Kanit";}
button {background-color: #BFBFBF;
padding: 10px;
font-family: sans-serif;
border: none;
width: 150;
height: 50px;}

footer {
    display: flex;
position: fixed;
 width: 100%;
align-items: right;
bottom: 0px;
left: 0px
padding: 20px;
background-color: #BFBFBF;
justify-content: right;
gap: 50px;}

.footer-button{
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
   width: 100px; 
   left: 20px;
}


button :hover{ border: 1px}



.image-grid{ 
    --gap:16px;
    --num-cols: 3;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap:);

    display: grid;
    grid-template-columns: repeat(var(--num-cols) ,1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

}

.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}





